.header {
  display: flex;
  align-items: center;
  margin-bottom: 93px;

  padding: 93px 50px 0;
}

.header__menu {
  padding-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  word-spacing: 5em;
  list-style: circle;
}

.header__links-list {
  display: flex;
  gap: 30px;
  padding-bottom: 10px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

a {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  text-underline-position: under;
  word-spacing: 1.5px;
}

.header-logo {
  display: block;
  width: 136px;
  height: 107px;
  margin-right: 191px;
  margin-left: 41px;
}

.header__logo-image {
  display: block;
}

.header_address {
  justify-self: end;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

main {
  width: 100%;
  min-width: 1100px;
  max-width: 1440px;
}

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 164px 0 50px;
  color: #fff;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  text-align: start;
}

.aligned-text {
  margin-left: 50px;
  letter-spacing: 30px;
  text-align: left;
}

.letter-spacing-extended {
  position: relative;
  right: 24px;
}

.aligned-text_center {
  width: 100%;
  padding-top: 10px;
  padding-right: 5px;
  letter-spacing: 30px;
  text-align: center;
}

.aligned-text_right {
  margin-right: -3px;
  padding-top: 3px;
  letter-spacing: 30px;
  text-align: end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 126px 50px 0 78px;
}

.cover__description-text {
  z-index: 1;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  word-spacing: 19px;
}

.bet-button {
  right: 0px;
  z-index: 1;
  width: 256px;
  min-height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.lots {
  width: 1100px;
  height: 692px;
  padding: 0 24px;
}

.lots__heading {
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  padding-bottom: 27px;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
  margin-top: 26px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 1;
  margin-top: 49px;
  padding: 0 37px;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
  word-spacing: -1.7px;
}

.card__text {
  z-index: 1;
  margin-bottom: 50px;
  padding: 0px 36px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.card-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-size: cover;
}

.card-link article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
  letter-spacing: -0.1px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 180px 15px 154px 71px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  display: block;
  width: 150px;
  height: 100%;
  margin: 0 auto;
}

.about__column {
  color: #000;
}

.about__title {
  margin-left: -30px;
  padding: 102px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  margin-top: -1px;
  margin-left: -24px;
  padding-bottom: 27px;
  padding-left: 96px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.18px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px 50px 90px;
  font-size: 18px;
}

.footer_address {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.footer__menu {
  padding-left: 37px;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
